TalkFile_aml_20251204_extracted/RBA/META-INF/config/schema/session-service.dtd

<!ELEMENT session-service (session-service-config*)>
<!ELEMENT session-service-config (log-type, log-level, log-location,session-attribute-modification, session-location, session-replication, session-element-param+, description?)>
<!ELEMENT log-type (#PCDATA)>
<!ELEMENT log-level (#PCDATA)>
<!ELEMENT log-location (#PCDATA)>
<!ELEMENT session-attribute-modification (#PCDATA)>
<!ELEMENT session-location (#PCDATA)>
<!ELEMENT session-replication (#PCDATA)>
<!ELEMENT session-element-param (param-name, param-type)>
<!ELEMENT param-type (#PCDATA)>

<!ELEMENT param-name (#PCDATA)>
<!ELEMENT param-value (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!ATTLIST session-service
	defaultElement CDATA #IMPLIED
	verbose (true | false) 'false'>
	
<!ATTLIST session-service-config
	name CDATA #REQUIRED
	deploy (true | false) 'false'
	loadOnStartup CDATA #IMPLIED
	verbose (true | false) 'false'
	lastModified CDATA #IMPLIED
	target CDATA #IMPLIED>
	
	
